<link rel="stylesheet" href="/style/footer.css">

<div class="footer">
    <div class="left_footer">
<div class="left_footer_link">
    <div class="left_footer_item">
        <div class="left_footer_cat">Catagory</div>
        <a href="#">Healt & Beauty</a>
        <a href="#">Brand Shoes</a>
        <a href="#">Brand Cloth</a>
        <a href="#">Brand Ladys</a>
    </div>
    <div class="left_footer_item">
        <div class="left_footer_cat">Page</div>
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">More</a>
        <a href="#">Help</a>
        
    </div>
    <div class="left_footer_item">
        <div class="left_footer_cat">Catagory</div>
        <a href="#">Link1</a>
        <a href="#">Link2</a>
        <a href="#">Link3</a>
        <a href="#">Link4</a>
    </div>
</div>

    </div>
    <div class="right_footer">
        <div class="right_footer_item">
          <div class="right_footer_sub">
          Subscribe For News And Discount
          </div>
          <div class="right_footer_email">
   <input class="email_form" type="email" placeholder="Email"><div class="email_submit">Add</div>
        </div>
        <div class="right_footer_social">
            <li> <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> 
            </li>


        </div>
            </div>
    </div>

</div>