<link rel="stylesheet" href="/style/header.css">

<div class="header">
    <div class="header_one">
     <div class="top_info">
    <div class="top-info_item info_itemone"><a href="#">My Account</a></div>
    <div class="top-info_item info_itemtwo"><a href="#">My Cart</a></div>
    <div class="top-info_item info_itemthree"><a href="#">Log-out</a></div>
    <div class="top-info_item info_itemfour"><a href="#">Log-in</a></div>
    </div>

<div class="middle_info">
<div class="midd_brand">AllMart</i>
</div>
<div class="midd_search">
    <input class="search_bar" type="search" placeholder="Search..."><button class="search_button">search</button>

</div>
<div class="midd_cart">
   <div class="cart_icon midd_cart_item"><i class="fa fa-cart-arrow-down" style="font-size: 24px;color: aqua;" aria-hidden="true"></i></div>
   <div class="cart_number midd_cart_item">2</div>
   <div class="cart_text midd_cart_item">CART -</div>
   <div class="cart_value midd_cart_item">$6000</div>
</div>
    </div>
    </div>

<div class="header_two">
<div class="header_two_item hw_one"><a href="#">Home</a></div>
<div class="header_two_item hw_two"><a href="#">Cloth</a></div>
<div class="header_two_item hw_three"><a href="#">Shoes</a></div>
<div class="header_two_item hw_four"><a href="#">Jewlery</a></div>
<div class="header_two_item hw_five"><a href="#">Electronics</a></div>
<div class="header_two_item hw_six"><a href="#">Watch</a></div>
<div class="header_two_item hw_seven"><a href="#">Health & Beauty</a></div>
    </div>
</div>