*{
    margin:0px;
}
body,html{
    box-sizing: border-box;
}
.container{
display:flex;
background-image: url("../images/background.jpg");
background-size: cover;
justify-content:center;
align-items:center;
height: 100vh;
margin: auto;
background-color: #03616424;
}
.content{
  flex: 0.6;
  height: 27rem;
  background-color: #19354cf6;
  border-radius: 4px;
}
.welcome_title{
    color: #ccc8ff;
}
.h1case{
    margin: 4px;
    font-size: 1.5rem;
}
.sign_up
{
margin-left: 15rem;
margin-top: -1rem;
}
.sign_up a{
    text-decoration: none;
    font-size: 17px;
    color: white;
}
.sign_up a:hover{
   color:blue;
}
.content_item{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.content_item input{
    width: 40%;
    height: 40px;
    border-radius:20px;
    border:solid 0.2px #0000ff59;
    outline: none;
    text-align: center;
}
.errmessage{
  color:red;
}

.login_button{
  margin-top:0.3rem;
  width:10rem;
  font-size:20px;
  padding:12px 10px;
  color:black;
  border-radius:10px;
  border:solid 0.1px blue;
  transition-duration:500ms;
  transition-property:transform,background-color,color;
  transition-timing-function:ease;

}
.login_button:hover{
    transform:scale(1.05);
    background-color:blue;
    cursor:pointer;
    color:white;
  }
  @media(max-width:960px)
  {
    .content_item input{
      width: 55%;
   }
    .content{
       flex: 0.7;
        height: 27rem;
        border-radius: 4px;
      }
      .h1case{
        margin: 4px;
        font-size: 1.3rem;
    }
    }

  @media(max-width:760px)
  {
    .content_item input{
      width: 55%;
   }
    .content{
       flex: 0.8;
        height: 30rem;
        border-radius: 4px;
      }
  }
  @media(max-width:572px)
  {
    .content_item input{
       width: 55%;
    }
    .content{
        flex: 0.9;
        height: 27rem;
        border-radius: 4px;
      }
      .h1case{
        margin: 4px;
        font-size: 1rem;
    }

  }
  @media(max-width:482px)
  {
    .content_item input{
      width: 55%;
   }
    .content{
        flex: 0.9;
        height: 27rem;
        border-radius: 4px;
      }
      .h1case{
        margin: 4px;
        font-size: 0.98rem;
    }
    .sign_up{
      margin-left: 12rem;
      margin-top: -1rem;
      }

  }